.container{
    text-align: center;
}

header {
    background: #05336b;
    color: white;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    padding: 10px;
}

.search-bar {
    margin: 10px;
}

.map {
    height: 400px;
    width: 100%;
}

.weather-card {
    background-color: darkgray;
    font-size: 18px;
    color: white;

}

.forecast-card {
    background-color: #007bff;
    font-size: 18px;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.thumbnail {
    width: 700px;
    text-align: left;
}

.map-container, .forecast-container, .news-container {
    font-size: 24px;
}

.buffer {
    margin-top: 20px;
} 

.hide {
    display: none;
}